@import "variable";

brand {
    height: 20px;
    width: 140px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

CTA {
    padding: 1.2rem 2rem;
    background-image: linear-gradient(to right, $lime-green, $bright-cyan);
    border: none;
    border-radius: 100px;
    color: $white;
    font-weight: 700;
    position: relative;

    span {
        height: 100%;
        width: 100%;
        background-color: $white;
        border-radius: 100px;
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
    }
}