header {
    width: 100%;
    background-color: $white;
    box-shadow: 0 0 20px 0 $dark-blue;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    z-index: 10;

    .container {
        padding: 1.25rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .brand {
            @extend brand;
            background-image: url("../images/logo-header.svg");
        }

        .menu-toggler {
            height: 25px;
            width: 25px;
            background: transparent url("../images/icon-hamburger.svg") no-repeat center;
            background-size: contain;
            border: none;
            transition: background 0.15s;
        }

        .menu-toggler.active {
            background: transparent url("../images/icon-close.svg") no-repeat center;
            background-size: contain;
            transition: background 0.15s;
        }

        .CTA {
            @extend CTA;
            display: none;
        }

        .CTA:hover {
            span {
                opacity: 0.4;
            }
        }

        nav {
            min-height: 100vh;
            width: 100vw;
            padding-top: 1.5rem;
            display: none;
            background-image: linear-gradient(to bottom, $dark-blue, transparent);
            position: absolute;
            left: 50%;
            top: 4rem;
            text-align: center;
            transform: translate(-50%, 0);

            ul {
                width: 85%;
                margin: 0 auto;
                padding: 1rem 0;
                background-color: $white;
                border-radius: 10px;

                li {
                    a {
                        padding: 0.5rem 0;
                        color: $dark-blue;
                        display: block;
                    }
                }

                li:hover {
                    background-color: $grayish-blue;

                    a {
                        color: $white;
                    }
                }
            }
        }

        nav.active {
            display: block;
        }
    }
}

@media only screen and (min-width: 992px) {
    header {
        .container {
            padding: 0;

            .menu-toggler {
                display: none;
            }

            .CTA {
                display: block;
            }

            nav {
                min-height: 0;
                width: auto;
                padding: 0;
                background-image: none;
                display: block;
                position: relative;
                left: 0;
                top: 0;
                transform: translate(0, 0);

                ul {
                    width: auto;
                    padding: 0;
                    border-radius: 0;
                    display: flex;
                    flex-direction: row;

                    li {
                        margin: 0 0.5rem;

                        a {
                            padding: 2.5rem 0;
                            color: $grayish-blue;
                        }
                    }

                    li:hover {
                        background-color: transparent;

                        a {
                            color: $dark-blue;
                            position: relative;

                            span {
                                height: 0.25rem;
                                width: 100%;
                                background-image: linear-gradient(to right, $lime-green, $bright-cyan);
                                position: absolute;
                                bottom: 0;
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}